    <Html>	
    <head>   
    <title>  
    Employee Attrition  
    </title>  
    </head>  
    <body style="background: #FFFAFA;">
    <br>  
    <br>  
    <form>  
	<h1>					Employee Attrition Calculator </h1>
	<label>   
    Gender :  
    </label>   
    <select id='gender'>  
	<input type="text" name="Male" placeholder="Male" required="required" size="15"/> <br> <br> 
	<input type="text" name="Female" placeholder="Female" required="required" size="15"/> <br> <br> 
    </select> 
	    
	<br>  
    <br> 
	
	<label> Age : </label>         
    <input type="text" name="age" placeholder="Age" required="required" size="15"/> <br> <br>  
	
	<label> Educational Classification (Rating between 1 and 5) : </label>         
    <input type="number" name="education" placeholder="Rating between 1 and 5" required="required" min="1" max="5" size="15"/> <br> <br>  
	
	<label>   
    Relationship Status :  
    </label>   
    <select>  
    <option value="Married">Married</option>  
    <option value="Single">Single</option>  
    </select> 
	    
	<br>  
    <br>
	
	<label>   
    Unit :  
    </label>   
    <select>  
    <option value="a">Account and Finance</option> 
	<option value="1">Human Resource and Management</option> 
	<option value="1">IT</option> 	
	<option value="1">Logistic</option> 
	<option value="1">Marketting</option> 
	<option value="1">Operational</option> 
	<option value="1">Production</option> 
	<option value="1">Purchasing</option> 
	<option value="1">Quality</option> 
	<option value="1">R&D</option> 
	<option value="1">Sales</option> 
	<option value="1">Security</option> 
    </select> 
	    
	<br>  
    <br>
	
	<label>   
    Decision Skill Process :  
    </label>   
    <select>  
    <option value="1">Analytical</option>  
	<option value="1">Behavioral</option>  
	<option value="1">Conceptual</option>  
	<option value="1">Directive</option>  
    </select> 
	    
	<br>  
    <br>
	
	<label> Time of Service(in yrs) : </label>         
    <input type="number" name="tos" size="15"/> <br> <br>
	<label> Time Since Promotion(in yrs) : </label>         
    <input type="number" name="tsp" size="15"/> <br> <br>
	<label> Growth Rate : </label>         
    <input type="number" name="gr" size="15"/> <br> <br>
	
	<label> Travel Rate(Rating between 0 and 2) : </label>         
    <input type="number" name="tos" min="0" max="2" size="15"/> <br> <br>
	<label> Post level(Rating between 1 and 5) : </label>         
    <input type="number" name="tsp" min="1" max="5" size="15"/> <br> <br>
	<label> Pay Scale(Rating between 1 and 10) : </label>         
    <input type="number" name="gr" min="1" max="10" size="15"/> <br> <br>
	
	<label>   
    Compensation and Benefits :  
    </label>   
    <select>  
    <option value="1">type0</option>  
	<option value="1">type1</option>  
	<option value="1">type2</option>  
	<option value="1">type3</option>  
	<option value="1">type4</option>  	
    </select> 
	    
	<br>  
    <br>
	<label> Work life balance (Rating between 1 and 5) : </label>         
    <input type="number" name="gr" min="1" max="5" size="15"/> <br> <br>
	
	<button type="submit" size="15">Employee Attrition Rate</button>  
    </form>  
    </body>  
    </html>  